.burger {
    background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%);
}

.burger-container {
    display: flex;
    flex-flow: row nowrap;
}

// Carousel
.burger-slider {
    // width: 100%;
    height: 70%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    @include tablets {
        height: 100%;
    }
}

.slider__btn {
    font-size: 72px;
    color: $white;
}

.burger__carousel {
    // width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: none;
    &.current {
        display: flex;
    }
    @include tablets {
        flex-direction: column;
    }
}

.burger__main__left-side {
    width: 50%;
    margin-right: rem(20px);
    @include tablets {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
}

.burger__main__right-side {
    width: 50%;
    @include tablets {
        width: 80%;
        text-align: center;
    }
}

.burger__main__left-side__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    @include tablets {
        width: 50%;
        height: 50%;
    }
}

.section_title_burger {
    color: $white;
    line-height: 1em;
    width: 80%;
    text-align: center;
    @include tablets {
        margin: 0 auto;
    }
}

.burger__main__left-side__block-img {
    width: 100%;
    height: 100%;
    @include tablets {
        text-align: center;
    }
}

.section_title_burger_price {
    color: #e35028;
    &::after {
        content: "рублей";
        display: inline-block;
        font-size: rem(30px);
        margin-left: rem(3px);
        @include tablets {
            font-size: rem(22px);
            margin-right: rem(20px);
        }
    }
}

.btn_link_burger {
    margin-left: rem(25px);
    @include tablets {
        margin-left: 0;
    }
}

// End Carousel
// block ingridients
.block__float-ingridients {
    position: absolute;
    top: 1%;
    left: 1%;
    right: 0;
    bottom: 0;
    background: rgba(227, 80, 40, 0.4);
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 0.3125rem;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

// .float-ingridients-main-img {
//     margin-top: 10px;
// }
.float-ingridients-main-text {
    font-family: 'Gagalin', Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.float-ingridients {
    display: none;
}