.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.maincontent {
    width: 100%;
    height: 100%;
    min-height: rem(650px);
}

.section {
    height: 100%;
    position: relative;
    min-height: rem(650px);
    background-color: rgba(0, 0, 0, 0.31);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container {
    width: 95%;
    height: 100%;
    max-width: 940px;
    min-width: rem(320px);
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    @include tablets {
        justify-content: center;
    }
}

.section__title {
    font-family: "Gagalin", cursive;
    color: $yellow;
    font-size: rem(72px);
    font-weight: 400;
    margin-bottom: 0;
    text-transform: uppercase;
    @include tablets {
        font-size: rem(62px);
        text-align: center;
        margin-top: 0;
    }
}

.btn__link {
    display: inline-block;
    min-width: rem(98px);
    padding: rem(10px) rem(15px);
    border-radius: rem(5px);
    background-color: $orange;
    border-color: $orange;
    color: #fff;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
        background-color: darken($orange, 8%);
        border-color: darken($orange, 8%);
    }
}

.nav-sidebar {
    position: fixed;
    right: 5%;
    top: 20%;
    @include tablets {
        display: none;
    }
}

.nav-sidebar__item {
    margin-bottom: rem(7px);
    display: list-item;
}

.nav-sidebar_item_is-active .nav-sidebar__item__link::before {
    width: rem(15px);
    height: rem(15px);
    opacity: 1;
}

.nav-sidebar__item__link {
    width: rem(15px);
    height: rem(15px);
    display: block;
    position: relative;
    cursor: pointer;
    &::before {
        content: " ";
        display: block;
        width: 0px;
        height: 0px;
        border: 1px solid #fff;
        border-radius: 50%;
        @include absolute;
        opacity: 0;
        transition: .4s;
    }
    &:after {
        content: " ";
        display: block;
        @include circle(rem(6px), $white);
        @include absolute;
    }
    &:hover:before {
        width: rem(15px);
        height: rem(15px);
        opacity: 1;
    }
}