.footer {
    background: url("../img/footer/bg/bg__footer.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(10px) 0;
}

.container_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__left-side {
    width: 50%;
    @include phones {
        padding-left: rem(10px);
    }
}

.footer__left-side__address {
    font-size: rem(14px);
    font-style: normal;
}

.footer__address__phone {
    color: $orange;
    font-weight: 600;
}

.footer__right-side {
    width: 50%;
    @include phones {
        padding: 0 rem(20px);
    }
}

.socials__list {
    display: flex;
    justify-content: flex-end;
}

.socials__item {
    margin-left: rem(10px);
}

// svg:not(:root) {
//     overflow: hidden;
// }
.socials__icon {
    width: rem(20px);
    height: rem(20px);
    fill: $white;
    opacity: 0.7;
    transition: opacity 0.5s;
    &.socials_icon_vk {
        width: rem(24px);
        height: rem(24px);
    }
    &:hover {
        opacity: 1;
    }
}