*,
*::before,
*::after {
    box-sizing: border-box;
    // border: 1px solid #ff0000;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    line-height: 1.42;
    color: $white;
    font-size: rem(14px);
    position: relative;
    background-color: #808080;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
footer {
    width: 100%;
    position: relative;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

// instead of display: none;
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
