.menu {
    background: url('../img/menu/bg/bg__menu.jpg') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

.section_title_menu {
    position: absolute;
    top: 10%;
    left: 10%;
}

.menu__accordeon__list {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.menu__accordeon__item {
    display: flex;
    float: left;
    height: 100%;
}

.menu_accordeon_item_active .menu__accordeon__link__content {
    width: rem(550px);
    @include phones {
        width: rem(250px);
    }
}

.menu_accordeon_item_active .menu__accordeon__link__title {
    color: $yellow;
}

.menu__accordeon__link {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: rem(70px);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    float: left;
}

.menu__accordeon__link__title {
    width: 100%;
    font-size: 2.5rem;
    color: #fff;
    font-family: 'Gagalin', cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    transform: rotate(-90deg);
    margin-bottom: rem(25px);
    transition: 0.4s;
    &:hover {
        color: $yellow;
    }
}

.menu__accordeon__link__content {
    width: 0;
    height: 100%;
    float: left;
    background: rgba(47, 50, 52, 0.93);
    overflow: hidden;
}

.menu__accordeon__link__content__text {
    font-weight: 300;
    line-height: 1.8;
    width: 100%;
    padding: rem(40px) rem(20px);
}