.best {
    background: url('../img/best/bg/bg__best.jpg') 50% 50% no-repeat;
    background-size: cover;
    text-align: center;
}

.section_title_best {
    color: $dark;
    padding: 0;
    margin-bottom: rem(60px);
}

.best__blocks__list {
    display: flex;
    align-items: flex-start;
}

.best__blocks__list__item {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.best__blocks__description__title {
    font-family: "LifeHack";
    font-weight: 500;
    font-size: rem(24px);
    color: $dark;
}

.best__blocks__description__text {
    font-weight: 300;
    font-size: rem(14px);
    color: $dark;
}