.best {
    background: url('../img/best/bg/bg__best.jpg') 50% 50% no-repeat;
    background-size: cover;
    text-align: center;
}

.best-container {
    padding-top: 4%;
}
.section_title_best {
    color: $dark;
    flex: 1;
}

.best__blocks__list {
    display: flex;
    align-items: flex-start;
    flex: 3;
}

.best__blocks__list__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.best__blocks__block-img {
    width: 100px;
    height: 100px;
}

.best__blocks__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.best__blocks__description__title {
    font-family: "LifeHack";
    font-weight: 500;
    font-size: rem(24px);
    color: $dark;
}

.best__blocks__description__text {
    font-weight: 300;
    font-size: rem(14px);
    color: $dark;
}